backend/src/main/resources/eni/xsd/eni-documento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:eni="http://administracionelectronica.gob.es/ENI/XSD/v1.0"
  targetNamespace="http://administracionelectronica.gob.es/ENI/XSD/v1.0"
  elementFormDefault="qualified">

  <xs:element name="Documento" type="eni:TipoDocumentoRaiz"/>

  <xs:complexType name="TipoDocumentoRaiz">
    <xs:sequence>
      <xs:element name="Metadatos" type="eni:TipoMetadatos"/>
      <xs:element name="Documento" type="eni:TipoDocumentoInterno"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TipoMetadatos">
    <xs:sequence>
      <xs:element name="Identificador" type="xs:string"/>
      <xs:element name="TipoDocumento" type="xs:string"/>
      <xs:element name="Titulo" type="xs:string"/>
      <xs:element name="Descripcion" type="xs:string"/>
      <xs:element name="Emisor" type="eni:TipoEmisor"/>
      <xs:element name="FechaEmision" type="xs:dateTime"/>
      <xs:element name="Estado" type="xs:string"/>
      <xs:element name="VersionNTI" type="eni:TipoVersionNTI"/>
      <xs:element name="ExpedienteAsociado" type="eni:TipoExpediente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TipoEmisor">
    <xs:sequence>
      <xs:element name="Nombre" type="xs:string"/>
      <xs:element name="Identificador" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TipoVersionNTI">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENI-NTI-2011"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TipoExpediente">
    <xs:sequence>
      <xs:element name="Identificador" type="xs:string"/>
      <xs:element name="CodigoOficina" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TipoDocumentoInterno">
    <xs:sequence>
      <xs:element name="Contenido" type="eni:TipoContenido" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TipoContenido">
    <xs:sequence>
      <xs:element name="Identificador" type="xs:string"/>
      <xs:element name="NombreFichero" type="xs:string"/>
      <xs:element name="TipoMIME" type="xs:string"/>
      <xs:element name="Tamano" type="xs:long"/>
      <xs:element name="Hash" type="xs:string"/>
      <xs:element name="AlgoritmoHash" type="xs:string"/>
      <xs:element name="FechaInclusion" type="xs:dateTime"/>
      <xs:element name="Firma" type="eni:TipoFirma" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TipoFirma">
    <xs:sequence>
      <xs:element name="TipoFirma" type="xs:string"/>
      <xs:element name="FormatoFirma" type="xs:string"/>
      <xs:element name="FicheroFirma" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
